.about-page-grid-container {
  display: grid;
  position: relative;
  grid-template-columns: 50% 20% 30%;
  grid-template-areas:
    "about-left-top . ."
    "about-left-bottom . about-right";
}

.about-left-top {
  grid-area: about-left-top;
}

.about-left-bottom {
  grid-area: about-left-bottom;
}

.about-right {
  grid-area: about-right;
}

.about-logo {
  position: absolute;
  right: 50px;
  width: 333px;
  height: 333px;
}

@media (max-width: 992px) {
  .about-page-grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "about-left-top"
      "about-right"
      "about-left-bottom";
  }

  .about-right {
    margin-left: 0;
  }
}
