.hero {
  display: flex;
}

.hero-left {
  margin-top: 70px;
}

.intro-text {
  width: 85%;
  margin-bottom: 60px;
}

.hero-img {
  width: 600px;
  height: 600px;
}

.links {
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

@media(max-width: 992px) {

  .hero-right {
    display: none;
  }

  .hero-left {
    margin-top: 0;
  }

  .intro-text {
    width: 100%;
    margin-bottom: 45px;
  }
}
