.project-container {
  margin-bottom: 64px;
}

.project-listing {
  display: flex;
  overflow: hidden;
}

.project-image {
  width: 400px;
  height: 100%;
  transition: width 2s ease;
}

.project-text {
  margin-left: 32px;
  width: 45%;
  min-width: 45%;
  opacity: 1;
  transition: opacity 2s ease;
}

.project-description {
  position: relative;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1))
}

.text-shadow {
  // position: absolute;
  width: 50%;
  // height: 1rem;
  // top: 1rem;
  // right: 0;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.project-index-title {
  display: inline-block;
}

.project-details {
  overflow: hidden;
  transition: max-height 2s ease, opacity 2s ease;
  height: auto;
  opacity: 0;
  max-height:0;
}

.expand {
  max-height:1600px;
  animation-name: project-forward;
  animation-duration: 2s;
  opacity: 1;
}

.animate-img {
  width: 100%;
}

.animate-text {
  opacity: 0;
}

@keyframes project-forward {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@media(max-width: 992px) {

  .project-listing {
    display: block;
    margin-bottom: 32px;

    img {
      width: 100%;
    }
  }

  .project-description {
    padding-left: 0;
  }

  .project-index-title {
    margin-top: 16px;
  }
}
