.project-list-item {
  margin: 8px 0;
}

.title {
  display: inline-block;
}

.project-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media(max-width: 768px){
  .project-title {
    display: block;
  }

  .project-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 24px;
    margin: 0;
  }

  .project-list-item {
    margin: 0;
  }
}

