.link-more {
  padding: 0 6px;
}

.link-more-container {
  margin-left: auto;
}

@media(max-width: 992px){

  .link-more-container {
    grid-column: 1 / span 2;
  }

  .back-link {
    margin-left: 0;
  }
}
