<a class="dropdown-item" href="/#home">Home</a>
<a class="dropdown-item" href="/#projects">Projects</a>
<a class="dropdown-item" href="/#about">About</a>
<a class="dropdown-item" href="/#contact">Contact</a>
