<div class="my-nav d-flex justify-content-between align-items-center center">
  <div class="d-flex bigger lato">
    <p class="full-name no-m">
      <span class="bolder">John Marsden</span>
      <span class="text-dark-blue">Full Stack Developer</span>
    </p>
    <span class="bolder short-name">JM</span>
    <span class="text-dark-blue short-name">FSD</span>
  </div>
  <ul class="nav" id="myTab" role="tablist">
     <li class="nav-item-burger dropdown">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bars"></i></a>
      <div class="dropdown-menu dropdown-menu-right">
        <% if request.path == "/" %>
          <%= render "shared/burger_tab_links" %>
        <% else %>
          <%= render "shared/burger_external_links" %>
        <% end %>
      </div>
    </li>
    <% if request.path == "/" %>
      <%= render "shared/tab_links" %>
    <% else %>
      <%= render "shared/external_links" %>
    <% end %>
  </ul>
</div>
