<div class="about-page-grid-container navbar-spacing-large mb120">
    <div class="about-left-top">
        <h2 class="mb15">About me</h2>
        <p class="mb30 intro">
            A creative and innovative full stack developer who is ready to roll up his sleeves and tackle any problem put in front of me. Have a fondness for all things JavaScript and enjoy building intuitive and elegant user interfaces.
            <br>
            <br>
            Spent the past 10 years working on global projects with multidisciplinary teams as a 3D modeller and manufacturing engineer in the architectural and aerospace sectors. This hybrid background gives me a keen eye for detail and precision while also being a strong problem solver, which I now bring to software engineering.
        </p>
    </div>
    <div class="about-left-bottom">
        <h3 class="mb15">Education</h3>
        <p class="mb15">
            <strong>Le Wagon - Full Stack Web Development Bootcamp</strong>
            <br>
            London | Jan ‘20 - Mar ‘20
        </p>
        <ul class="mb30">
            <li>
                Full stack web development bootcamp comprising of TDD principles across a stack of Ruby, Rails, SQL / PostgreSQL, JavaScript, HTML, CSS / SCSS, product management and Github versioning
            </li>
        </ul>
        <p class="mb15">
            <strong>Arts University Bournemouth</strong>
            <br>
            Bournemouth | Sep ‘08 - Jul ‘11
        </p>
        <ul class="mb30">
            <li>
                BA (Hons) Modelmaking
            </li>
        </ul>

        <h3 class="mb15">Employment</h3>
        <p class="mb15">
            <strong>Full Stack Web Developer</strong>
            <br>
            Freelance | Mar ‘20 - Present
        </p>
        <ul class="mb30">
            <li>
                Built a commissioned website for an established musician increasing his SEO ranking and expanding his online presence
            </li>
        </ul>
        <p class="mb15">
            <strong>5 Axis CNC Programmer and Application Engineer</strong>
            <br>
            Attewell | Aug ‘18 - Sept ‘19
        </p>
        <ul class="mb30">
            <li>
                Reduced the lead times on one of the most time consuming projects by up to 40% by incorporating the use of 3D printed fixtures
            </li>
            <li>
                Created a workflow which logged lead times which allowed job quotation to be more accurate
            </li>
        </ul>
        <p class="mb15">
            <strong>CNC Programmer and CAD Engineer</strong>
            <br>
            Foster + Partners | Nov ‘13 - Jul ‘18
        </p>
        <ul class="mb30">
            <li>
                Expanded the workshops CNC capacity and brought over 90% of jobs in-house which lead on to the introduction of improved software and machines
            </li>
        </ul>
    </div>
    <%= image_tag "hero-logo.png", class: "about-logo hide", alt: "Full stack illustration" %>
    <div class="about-right">
        <h4 class="mb15">Languages</h4>
        <ul class="grid-container-list mb30">
            <li>
                JavaScript
            </li>
            <li>
                Ruby
            </li>
            <li>
                HTML
            </li>
            <li>
                CSS / SCSS
            </li>
            <li>
                MySQL / PostgreSQL
            </li>
            <li>
                MongoDB
            </li>
        </ul>
        <h4 class="mb15">Frameworks / libraries</h4>
        <ul class="grid-container-list mb30">
            <li>
                Node.js
            </li>
            <li>
                Express.js
            </li>
            <li>
                React
            </li>
            <li>
                Ruby on Rails
            </li>
        </ul>
        <h4 class="mb15">Prototyping</h4>
        <ul class="grid-container-list mb30">
            <li>
                Sketch
            </li>
            <li>
                Figma
            </li>
            <li>
                Adobe packages
            </li>
        </ul>
        <h4 class="mb15">Technical skills</h4>
        <ul class="grid-container-list mb30">
            <li>
                OOP concepts
            </li>
            <li>
                TDD workflow
            </li>
            <li>
                REST APIs
            </li>
            <li>
                MVC architecture
            </li>
            <li>
                Heroku
            </li>
            <li>
                Git / GitHub
            </li>
            <li>
                Postman
            </li>
            <li>
                CAD / 3D modelling
            </li>
        </ul>
        <h4 class="mb15">Soft skills</h4>
        <ul class="grid-container-list mb30">
            <li>
                Team-oriented
            </li>
            <li>
                Excellent communication
            </li>
            <li>
                Self-motivated
            </li>
            <li>
                Detail-oriented
            </li>
        </ul>
    </div>
</div>