<div class="text-container center text-black">
  <h1 class="text-dark-blue no-m pb2 page-header-mob">About</h1>
  <p class="taj">
    After a decade of programming machines and robots for the architectural and engineering manufacturing sectors, I grew curious as to other forms of coding. So at the start of this year I attended a full-stack web
    development bootcamp at Le Wagon London to learn how to code.
    <br>
    <br>
    Now armed with an extensive understanding of web development using frameworks and having a problem solving yet creative and innovative mindset, I am able to deliver elegant and user-centric solutions effectively and efficiently.
  </p>
  <div class="row">
    <div class="col-md-8">
      <h4 class="bolder text-dark-blue mtb2 bottom-border-dark-blue">Education</h4>
      <h5 class="bolder no-m">Le Wagon - Full Stack Web Development Bootcamp</h5>
      <p class="taj">
        <span class="bolder">London | Jan ‘20 - Mar ‘20</span>
        <br>
        9 week full-stack web development bootcamp covering a Rails MVC framework comprising Ruby, Rails, JavaScript ES6, SQL, HTML and CSS/SCSS as well as product management.
      </p>
      <h5 class="bolder no-m">Arts University Bournemouth</h5>
      <p>
        <span class="bolder">Bournemouth | Sep ‘08 - Jul ‘11</span>
        <br>
        BA (Hons) Modelmaking
      </p>
      <h4 class="bolder text-dark-blue mtb2 bottom-border-dark-blue">Employment</h4>
      <h5 class="bolder no-m">CNC Programmer and Operator</h5>
      <span class="bolder">Chanel | Oct ‘19 - Dec ‘19</span>
      <ul>
        <li>
          Working within the manufacturing team to programme and operate  the in-house CNCs
        </li>
      </ul>
      <h5 class="bolder no-m">5 Axis CNC Programmer and Application Engineer</h5>
      <span class="bolder">Attewell | Aug ‘18 - Sept ‘19</span>
      <ul>
        <li>
          Worked with high profile clients such as Airbus and Boeing
        </li>
        <li>
          Responsible for programming the four in-house 5 axis CNCs and managing the workflow and trailing of new jobs
        </li>
        <li>
          Adhering to 5S lean manufacturing
        </li>
      </ul>
      <h5 class="bolder no-m">CNC Programmer and CAD Engineer</h5>
      <span class="bolder">Foster + Partners | Nov ‘13 - Jul ‘18</span>
      <ul class="no-m" >
        <li>
          Helped grow the workshops CNC capacity and brought over 90% of jobs in-house
        </li>
        <li>
          Worked alongside the workshop assisting in CAD/CAM/3D printing
        </li>
        <li>
          Responsible for overseeing the entire production line and the three in-house CNCs and Kuka robot
        </li>
      </ul>
    </div>
    <div class="col-12 col-md-4">
      <h4 class="bolder text-dark-blue mtb2 bottom-border-dark-blue">Languages</h4>
      <ul class="project-list">
        <li class="project-list-item">
          Ruby
        </li>
        <li class="project-list-item">
          Rails
        </li>
        <li class="project-list-item">
          JavaScript ES6
        </li>
        <li class="project-list-item">
          React
        </li>
        <li class="project-list-item">
          HTML5
        </li>
        <li class="project-list-item">
          CSS/SCSS
        </li>
        <li class="project-list-item">
          SQL/PostgreSQL
        </li>
      </ul>
      <h4 class="bolder text-dark-blue mtb2 bottom-border-dark-blue">Technical Skills</h4>
      <ul class="project-list no-m">
        <li class="project-list-item">
          OOP concepts
        </li>
        <li class="project-list-item">
          TDD workflow
        </li>
        <li class="project-list-item">
          RESTful APIs
        </li>
        <li class="project-list-item">
          MVC structures
        </li>
        <li class="project-list-item">
          UI/UX
        </li>
        <li class="project-list-item">
          GitHub collaboration
        </li>
        <li class="project-list-item">
          Heroku
        </li>
      </ul>
    </div>
  </div>
</div>
