<div class="about-page-grid-container navbar-spacing-large mb120">
    <div class="about-left-top">
      <h2 class="mb15">About me</h2>
      <p class="mb30 intro">
        An ambitious and innovative full stack developer with 10 years’ experience as a CNC and robotic programmer for the architectural and aerospace sectors. During which I worked on global projects with high profile clients such as Apple, Bloomberg and Airbus. 
        <br>
        <br>
        I’ve been passionate about building and technology all my life and this passion fuelled my decision to retrain as a developer. I have a particular interest in APIs and automation which compliments my strengths from my engineering background. I now bring my existing and new technical skill sets to web development and the creation of digital solutions for end-user applications.
      </p>
      <div class="project-link mb45">
        <%= image_tag "cv.svg", class: "link-image", alt: "contact card logo" %>
        <%= link_to "Download my CV", download_pdf_path, class: "mr30", target: "_blank" %>
      </div>
    </div>
    <div class="about-left-bottom">
      <h3 class="mb15">Education</h3>
      
      <p class="mb15">
        <strong>Le Wagon - Full Stack Web Development Bootcamp</strong>
        <br>
        London | Jan ‘20 - Mar ‘20
      </p>
      <ul class="mb30">
        <li>
          Full-stack web development bootcamp comprising of TDD principles across a stack of Ruby, Rails, SQL/PostgreSQL, JavaScript ES6, HTML5, SCSS/CSS, product management and Github versioning
        </li>
      </ul>
      <p class="mb15">
        <strong>Arts University Bournemouth</strong>
        <br>
        Bournemouth | Sep ‘08 - Jul ‘11
      </p>
      <ul class="mb30">
        <li>
          BA (Hons) Modelmaking
        </li>
      </ul>

      <h3 class="mb15">Employment</h3>
      <p class="mb15">
        <strong>CNC Programmer and Operator</strong>
        <br>
        Chanel | Oct ‘19 - Dec ‘19
      
      <ul class="mb30">
        <li>
          Reworked an existing project to increase the quality of the part and reduce its cycle time by 25%
        </li>
      </ul>
      <p class="mb15">
        <strong>5 Axis CNC Programmer and Application Engineer</strong>
        <br>
        Attewell | Aug ‘18 - Sept ‘19
      </p>
      <ul class="mb30">
        <li>
          Reduced the lead times on one of the most time consuming projects by up to 40% by incorporating the use of 3D printed fixtures
        </li>
        <li>
          Created a workflow which logged lead times which allowed job quotation to be more accurate 
        </li>
      </ul>
      <p class="mb15">
        <strong>CNC Programmer and CAD Engineer</strong>
        <br>
        Foster + Partners | Nov ‘13 - Jul ‘18
      </p>
      <ul class="mb30">
        <li>
          Expanded the workshops CNC capacity and brought over 90% of jobs in-house which lead on to the introduction of improved software and machines
       </li>
     </ul>
    </div>
    <div class="about-right">
      <%= image_tag "hero-logo.png", class: "about-logo hide", alt: "Full stack illustration" %>
      <div class="about-right-top">
        <h4 class="mb15">Languages</h4>
        <ul class="grid-container-list mb30">
          <li>
            JavaScript ES6
          </li>
          <li>
            React
          </li>
          <li>
            Ruby
          </li>
          <li>
            Rails
          </li>
          <li>
            HTML5
          </li>
          <li>
            CSS/SCSS
          </li>
          <li>
            SQL/PostgreSQL
          </li>
        </ul>
      </div>
      <h4 class="mb15">Technical skills</h4>
      <ul class="grid-container-list mb30">
        <li>
          OOP concepts
        </li>
        <li>
          TDD workflow
        </li>
        <li>
          REST APIs
        </li>
        <li>
          MVC structures
        </li>
        <li>
          Heroku
        </li>
        <li>
          GitHub
        </li>
        <li>
          UI/UX
        </li>
        <li>
          CAD/3D modelling
        </li>
        <li>
          Adobe packages
        </li>
      </ul>
      <h4 class="mb15">Soft skills</h4>
      <ul class="grid-container-list mb30">
        <li>
          Team-oriented
        </li>
         <li>
          Excellent communication
        </li>
         <li>
          Self-motivated
        </li>
         <li>
          Detail-oriented
        </li>
      </ul>
    </div>
</div>
