<div class="text-container">
  <div class="grid-container-text">
    <div class="about-text-left">
      <h2 class="mb15">About me</h2>
      <p class="mb60 intro">
        After a decade of programming machines and robots for the architectural and engineering manufacturing sectors, I grew curious as to other forms of coding. So at the start of this year I attended a full stack web
        development bootcamp at Le Wagon London to learn how to code.
        <br>
        <br>
        Now armed with an extensive understanding of web development using frameworks and having a problem solving yet creative and innovative mindset, I am able to deliver elegant and user-centric solutions effectively and efficiently.
      </p>
      <h3 class="mb15">Education</h3>
      <p class="mb45">
        <strong>Le Wagon - Full Stack Web Development Bootcamp</strong>
        <br>
        London | Jan ‘20 - Mar ‘20
        <br>
        <br>
        9 week full-stack web development bootcamp covering a Rails MVC framework comprising Ruby, Rails, JavaScript ES6, SQL, HTML and CSS/SCSS as well as product management.
        <br>
        <br>
        <strong>Arts University Bournemouth</strong>
        <br>
        Bournemouth | Sep ‘08 - Jul ‘11
        <br>
        <br>
        BA (Hons) Modelmaking
      </p>
      <h3 class="mb15">Employment</h3>
      <p class="no-m">
        <strong>CNC Programmer and Operator</strong>
        <br>
        Chanel | Oct ‘19 - Dec ‘19
        <br>
        <br>
        Working within the manufacturing team to programme and operate the in-house CNCs
        <br>
        <br>
        <strong>5 Axis CNC Programmer and Application Engineer</strong>
        <br>
        Attewell | Aug ‘18 - Sept ‘19
        <br>
        <br>
        Worked with high profile clients such as Airbus and Boeing
        <br>
        Responsible for programming the four in-house 5 axis CNCs and managing the workflow and trailing of new jobs
        <br>
        Adhering to 5S lean manufacturing
        <br>
        <br>
        <strong>CNC Programmer and CAD Engineer</strong>
        <br>
        Foster + Partners | Nov ‘13 - Jul ‘18
        <br>
        <br>
        Helped grow the workshops CNC capacity and brought over 90% of jobs in-house
        <br>
        Worked alongside the workshop assisting in CAD/CAM/3D printing
        <br>
        Responsible for overseeing the entire production line and the three in-house CNCs and Kuka robot
      </p>
    </div>
    <div class="about-text-right">
      <%= image_tag "hero-logo.png", class: "about-logo", alt: "Full stack illustration" %>
      <div class="mb30 about-list">
        <h4 class="mb15">Languages</h4>
        <ul class="project-list">
          <li class="project-list-item">
            Ruby
          </li>
          <li class="project-list-item">
            Rails
          </li>
          <li class="project-list-item">
            JavaScript ES6
          </li>
          <li class="project-list-item">
            React
          </li>
          <li class="project-list-item">
            HTML5
          </li>
          <li class="project-list-item">
            CSS/SCSS
          </li>
          <li class="project-list-item">
            SQL/PostgreSQL
          </li>
        </ul>
      </div>
      <h4 class="mb15">Technical Skills</h4>
      <ul class="project-list no-m">
        <li class="project-list-item">
          OOP concepts
        </li>
        <li class="project-list-item">
          TDD workflow
        </li>
        <li class="project-list-item">
          RESTful APIs
        </li>
        <li class="project-list-item">
          MVC structures
        </li>
        <li class="project-list-item">
          GitHub collaboration
        </li>
        <li class="project-list-item">
          UI/UX
        </li>
        <li class="project-list-item">
          Heroku
        </li>
      </ul>
    </div>
  </div>
</div>
