<div class="text-container center text-black">
  <div class="mb4">
    <h1 class="no-m page-header-mob pb2">About</h1>
    <p class="taj no-m">
      After a decade of programming machines and robots for the architectural and engineering manufacturing sectors, I grew curious as to other forms of coding. So at the start of this year I attended a full-stack web
      development bootcamp at Le Wagon London to learn how to code.
      <br>
      <br>
      Now armed with an extensive understanding of web development using frameworks and having a problem solving yet creative and innovative mindset, I am able to deliver elegant and user-centric solutions effectively and efficiently.
    </p>
  </div>
  <div class="grid-container-text">
    <div>
      <div class="mb4">
        <h4 class="bolder  bottom-border-black mb2">Education</h4>
        <h5 class="bolder no-m">Le Wagon - Full Stack Web Development Bootcamp</h5>
        <p class="bolder">London | Jan ‘20 - Mar ‘20</p>
        <p class="taj">
          9 week full-stack web development bootcamp covering a Rails MVC framework comprising Ruby, Rails, JavaScript ES6, SQL, HTML and CSS/SCSS as well as product management.
        </p>
        <h5 class="bolder no-m">Arts University Bournemouth</h5>
        <p class="bolder">Bournemouth | Sep ‘08 - Jul ‘11</p>
        <p>
          BA (Hons) Modelmaking
        </p>
      </div>
      <div class="mb4">
        <h4 class="bolder  bottom-border-black mb2">Employment</h4>
        <h5 class="bolder no-m">CNC Programmer and Operator</h5>
        <p class="bolder">Chanel | Oct ‘19 - Dec ‘19</p>
        <ul>
          <li>
            Working within the manufacturing team to programme and operate  the in-house CNCs
          </li>
        </ul>
        <h5 class="bolder no-m">5 Axis CNC Programmer and Application Engineer</h5>
        <p class="bolder">Attewell | Aug ‘18 - Sept ‘19</p>
        <ul>
          <li>
            Worked with high profile clients such as Airbus and Boeing
          </li>
          <li>
            Responsible for programming the four in-house 5 axis CNCs and managing the workflow and trailing of new jobs
          </li>
          <li>
            Adhering to 5S lean manufacturing
          </li>
        </ul>
        <h5 class="bolder no-m">CNC Programmer and CAD Engineer</h5>
        <p class="bolder">Foster + Partners | Nov ‘13 - Jul ‘18</p>
        <ul class="no-m" >
          <li>
            Helped grow the workshops CNC capacity and brought over 90% of jobs in-house
          </li>
          <li>
            Worked alongside the workshop assisting in CAD/CAM/3D printing
          </li>
          <li>
            Responsible for overseeing the entire production line and the three in-house CNCs and Kuka robot
          </li>
        </ul>
      </div>
    </div>
    <div>
      <div class="mb4">
        <h4 class="bolder  bottom-border-black mb2">Languages</h4>
        <ul class="project-list">
          <li class="project-list-item">
            Ruby
          </li>
          <li class="project-list-item">
            Rails
          </li>
          <li class="project-list-item">
            JavaScript ES6
          </li>
          <li class="project-list-item">
            React
          </li>
          <li class="project-list-item">
            HTML5
          </li>
          <li class="project-list-item">
            CSS/SCSS
          </li>
          <li class="project-list-item">
            SQL/PostgreSQL
          </li>
        </ul>
      </div>
      <div class="mb4">
        <h4 class="bolder  bottom-border-black mb2">Technical Skills</h4>
        <ul class="project-list no-m">
          <li class="project-list-item">
            OOP concepts
          </li>
          <li class="project-list-item">
            TDD workflow
          </li>
          <li class="project-list-item">
            RESTful APIs
          </li>
          <li class="project-list-item">
            MVC structures
          </li>
          <li class="project-list-item">
            UI/UX
          </li>
          <li class="project-list-item">
            GitHub collaboration
          </li>
          <li class="project-list-item">
            Heroku
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
