<a href="/projects/<%= project.id %>">
  <div class="content my-shadow">
      <div class="content-overlay"></div>
      <%= cl_image_tag project.photos.first&.key, class: "project-card-image" %>
      <div class="content-details fadeIn-bottom">
        <h2 class="content-title bolder"><%= project.name %></h2>
        <p class="content-text">Click to view project</p>
      </div>
  </div>
</a>
