<div class="text-container center">
  <div class="page-header-mob pb2">
    <h1 class="text-black no-m">Projects</h1>
    <p class="no-m">Click a project to view more details</p>
  </div>
  <div class="projects-container">
  <%= render @projects %>

  </div>
</div>
