<div class="grid-container-images center">
  <div class="page-header-mob">
    <h1 class="text-dark-blue no-m">Projects</h1>
    <p class="no-m">Click a project to view more details</p>
  </div>
  <%= render @projects %>
</div>
