
<div class="hero-banner tac">
  <div class="name-container">
    <h1 id="name">John <br> Marsden</h1>
    <h1 id="description"><span class="woop">Full stack<br>developer</span></h1>
  </div>
</div>

<h1>Projects</h1>
<%= link_to "new project", new_project_path  %>
<%= render @projects %>
<h1>About</h1>
<h1>Contact</h1>
