<div class="tab-content tab-container center" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <%= render "home" %>
  </div>
  <div class="tab-pane fade" id="projects" role="tabpanel" aria-labelledby="projects-tab">
    <%= render "projects" %>
  </div>
  <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
    <%= render "about" %>
  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
    <%= render "contact" %>
  </div>
</div>
