#carouselExampleFade {
  width: 60%;
}

.carousel-slide-photo  {
  padding-top: 53.4%;
  width: 100%;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-indicators {
  bottom: -24px;

  li {
    background-color: $black;
    margin: 0 8px;
  }
}

@media(max-width: 992px) {
  #carouselExampleFade {
    width: 100%;
  }
}
