#carouselExampleFade {
  width: 75%;
}

.carousel-slide-photo  {
  padding-top: 48.7%;
  width: 100%;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-indicators {
  bottom: -32px;

  li {
    background-color: $black;
    margin: 0 8px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }
}

@media(max-width: 992px) {
  #carouselExampleFade {
    width: 100%;
  }

  .carousel-indicators {

  }
}
