.carousel-slide-photo  {
  padding-top: 32.4%;
  width: 60%;
  background-size:100% auto;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-control-prev {
  width: 10%;
  left: 10%;
}

.carousel-control-next {
  width: 10%;
  right: 10%;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%313638' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%313638' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

@media(max-width: 992px) {
  .carousel-slide-photo  {
    padding-top: 48.6%;
    width: 90%;
  }

  .carousel-control-prev {
    width: 5%;
    left: 0;
  }

.carousel-control-next {
    width: 5%;
    right: 0;
  }
}
