.text-dark-blue {
  color: $dark-blue;
}

.text-off-black {
  color: $black;
}

.text-grey {
  color: $grey;
}

.text-white {
  color: white;
}

.bg-dark-blue {
  background-color: $dark-blue;
}

.bg-off-black {
  background-color: $black;
}

.bg-grey {
  background-color: $grey;
}

.bg-white {
  background-color: white;
}
