.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 64px;
}

.page-container {
  padding: 32px 64px;
}

.text-container {
  width: 60%;
}

@media(max-width: 992px) {
  .text-container {
  width: 90%;
  }

  .grid-container {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
}

@media(max-width: 576px) {
  .page-container {
    padding: 8px;
  }

  .grid-container {
    grid-gap: 32px 16px;
  }
}
