.grid-container-text {
  display: grid;
  grid-template-columns: 555px 263px;
  grid-gap: 127px;
  margin-bottom: 60px;
}

.page-container {
  width: 80%;
  margin: 40px auto;
}

.show-container {
  width: 945px;
  margin: 80px auto 0;
}

.text-container {
  width: 945px;
  margin-top: 80px;
}

.projects-container {
  margin-top: 80px;
}

.contact-form-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
  justify-content: space-between;
}

@media(max-width: 992px) {

  .grid-container-text {
    grid-template-columns: 1fr;
    grid-gap: 30px;
    margin-bottom: 30px;
  }

  .text-container, .show-container {
    width: 100%;
    margin-top: 45px;
  }

  .projects-container, .contact-form-container {
    margin-top: 45px;
  }

  .page-container {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

