.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 64px;
}

.tab-container {
  margin-top: 10vh;
  width: 80%;
  padding-top: 16px;
  padding-bottom: 32px;
}

.show-text-container {
  width: 60%;
}

@media(max-width: 992px) {
  .show-text-container {
    width: 100%;
  }

  .grid-container {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  .tab-container {
    width: 90%;
  }
}

@media(max-width: 576px) {
  .grid-container {
    grid-gap: 32px 16px;
  }

}
