body {
  background: white;
}

ul {
  padding-inline-start: 24px;
}

.bottom-border-dark-blue {
  padding-bottom: 8px;
  border-bottom: 2px solid $dark-blue;
}

.bottom-border-white {
  padding-bottom: 8px;
  border-bottom: 2px solid white;
}

.my-shadow {
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.6);
}

.page-header-mob {
  display: none;
}

.hover-medium {
  transition: .3s;

  &:hover {
    transform: scale(1.03);
  }
}

.hover-big {
  transition: .3s;

  &:hover {
    transform: scale(1.1);
  }
}

@media(max-width: 576px) {
  .page-header-mob {
    display: block;
  }

  .hover-medium, .hover-big {
    &:hover {
      transform: none;
    }
  }
}
