body {
  background: white;
}

ul {
  padding-inline-start: 24px;
}

.bottom-border-black {
  padding-bottom: 8px;
  border-bottom: 2px solid $black;
}

.my-shadow {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.page-header-mob {
  display: none;
}

.hover-medium {
  transition: .3s;

  &:hover {
    transform: scale(1.03);
  }
}

.hover-big {
  transition: .3s;

  &:hover {
    transform: scale(1.1);
  }
}

@media(max-width: 992px) {
  .bottom-border-black {
    padding-bottom: 0;
    border: none;
  }
}

@media(max-width: 576px) {
  .page-header-mob {
    display: block;
  }

  .hover-medium, .hover-big {
    &:hover {
      transform: none;
    }
  }
}
