body {
  background: white;
}

.bottom-border-dark-blue {
  padding-bottom: 8px;
  border-bottom: 2px solid $dark-blue;
}

.bottom-border-white {
  padding-bottom: 8px;
  border-bottom: 2px solid white;
}

.my-shadow {
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.6);
}

.page-header-mob {
  display: none;
}

@media(max-width: 576px) {
  .page-header-mob {
    display: block;
  }
}
