.hero-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  padding-top: 32px;
}

.hero-name {
  width: 45%;
}

.hero-drawing {
  width: 50%;
}

.links {
  padding-top: 8px;
  font-size: 1.5rem;

  span {
    font-weight: 600;
  }
}

@media(max-width: 768px) {
  .hero-logo {
    flex-direction: column;
    justify-content: center;
    width: 100%;

    h1 {
      font-size: 4rem;
    }

    h3 {
      font-size: 1.5rem;
    }
  }

  .hero-drawing, .hero-name {
    width: 100%;
  }

  .links {
    padding-bottom: 16px;
  }
}
