#name {
  font-size: 8rem;
  font-weight: 900;
  display: inline;
}

#description {
  position: absolute;
  top: 25%;
  right: 0;
  text-align: right;
  color: white;
}

.woop {
  background-color: $black;
}

.name-container {
  display: inline-block;
  position: relative;
  color: $black;
  text-align: left;
}
