.my-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.full-name, .short-name {
  color: $dark-purple;

  &:hover {
    color: $dark-purple
  }
}

.short-name, .dropdown {
  display: none;
}

.nav-item {
  a {
    color: $dark-purple;
    transition: .3s;
    margin-left: 24px;
    padding-bottom: 8px;

    &:hover {
      color: $dark-purple;
      box-shadow: 0px -4px 0px $purple inset;
    }
  }

  .active {
    box-shadow: 0px -4px 0px $purple inset;

    &:hover {
      box-shadow: 0px -4px 0px $purple inset;
    }
  }
}

.nav-link {
  padding: 0;
}

.nav-item-burger {
  a {
    color: $dark-purple;

    &:hover {
      color: $dark-purple
    }
  }
}

.dropdown-menu {
  a {
    &:active {
    background: none !important;
    }
  }

  .active {
    font-weight: 700;
    color: $dark-purple !important;
    background: none !important;
  }
}

@media(max-width: 992px) {

  .full-name, .nav-item {
    display: none;
  }

  .short-name, .dropdown {
    display: block;
  }

  .fa-bars {
    font-size: 1.5rem;
  }
}

