// CENTERING

.center {
  margin: 0 auto;
}

// STRIP PADDING AND MARGIN

.no-pm {
  margin: 0;
  padding: 0;
}

.no-m {
  margin: 0;
}

// MARGIN

// m = margin / s = square / r = recentangle / t = top / r = right / b = bottom / l = left / 1-4 in 8px intervals

.mb2 {
  margin-bottom: 16px;
}

.mr1 {
  margin-right: 8px;
}

.mr8 {
  padding-right: 64px;
}

.mlr1 {
  margin-left: 8px;
  margin-right: 8px;
}

.mtb1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mtb2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.past-nav {
  margin-top: 10vh;
}

// PADDING

// p = padding / s = square / r = recentangle / t = top / r = right / b = bottom / l = left / 1-4 in 8px intervals

.pr1 {
  padding-right: 8px;
}

.pb2 {
  padding-bottom: 16px;
}

.plr8 {
  padding-right: 64px;
  padding-left: 64px;
}

.ps8 {
  padding: 64px;
}

.ptb4 {
  padding-top: 32px;
  padding-bottom: 32px;
}

@media(max-width: 992px) {
  .ps8 {
    padding: 32px;
  }
}

@media(max-width: 576px) {
  .ps8 {
    padding: 32px 16px;
  }
}
