// CENTERING

.center {
  margin: 0 auto;
}

// STRIP PADDING AND MARGIN

.no-pm {
  margin: 0;
  padding: 0;
}

.no-m {
  margin: 0;
}

// MARGIN

// m = margin / s = square / r = recentangle / t = top / r = right / b = bottom / l = left / 1-4 in 8px intervals

.mb2 {
  margin-bottom: 16px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb120 {
  margin-bottom: 120px;
}

.mb4 {
  margin-bottom: 32px;
}

.mb45 {
  margin-bottom: 45px;
}

.mr30 {
  margin-right: 30px;
}

.ml30 {
  margin-left: 30px;
}

.mt15-0 {
  margin-top: 15px;
}

.mt70-0 {
  margin-top: 70px;
}

.mt40 {
  margin-top: 40px;
}

.mt45 {
  margin-top: 45px;
}

.mt70 {
  margin-top: 70px;
}

.mt80 {
  margin-top: 80px;
}

.ml30 {
  margin-left: 30px;
}

.mla {
  margin-left: auto;
}

.mra {
  margin-right: auto;
}

.mr1 {
  margin-right: 8px;
}

.mr8 {
  padding-right: 64px;
}

.mlr1 {
  margin-left: 8px;
  margin-right: 8px;
}

.mt2 {
  margin-top: 16px;
}

.mtb1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mtb2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.navbar-spacing-small {
  margin-top: 45px;
}

.navbar-spacing-medium {
  margin-top: 60px;
}

.navbar-spacing-large {
  margin-top: 80px;
}

.past-nav {
  margin-top: 10vh;
}

// PADDING

// p = padding / s = square / r = recentangle / t = top / r = right / b = bottom / l = left / 1-4 in 8px intervals

.pr1 {
  padding-right: 8px;
}

.pb2 {
  padding-bottom: 16px;
}

.plr8 {
  padding-right: 64px;
  padding-left: 64px;
}

.ps8 {
  padding: 64px;
}

.pb30 {
  padding-bottom: 30px;
}

.ptb4 {
  padding-top: 32px;
  padding-bottom: 32px;
}

@media(max-width: 992px) {
  .mt15-0, .mt70-0 {
    margin-top: 0;
  }

  .navbar-spacing-large, .navbar-spacing-medium {
    margin-top: 45px;
  }

  .mb120 {
    margin-bottom: 60px;
  }

  .mb60 {
    margin-bottom: 30px;
  }

}
