// CENTERING

.center {
  margin: 0 auto;
}

// STRIP PADDING AND MARGIN

.no-pm {
  margin: 0;
  padding: 0;
}

.no-m {
  margin: 0;
}


// MARGIN

// m = margin / s = square / r = recentangle / t = top / r = right / b = bottom / l = left / 1-4 in 8px intervals

.mr1 {
  margin-right: 8px;
}

.mr8 {
  padding-right: 64px;
}

.mtb2 {
  margin-top: 16px;
  margin-bottom: 16px;
}



// PADDING

// p = padding / s = square / r = recentangle / t = top / r = right / b = bottom / l = left / 1-4 in 8px intervals
