.dark-blue {
  color: $dark-blue;
}

.off-black {
  color: $black;
}

.grey {
  color: $grey;
}

.tac {
  text-align: center;
}

.taj {
  text-align: justify;
}


.bolder {
  font-weight: 700;
}

.bold {
  font-weight: 900;
}

.no-d {
  &:hover {
    text-decoration: none;
  }
}

.back-shadow {
  // box-shadow: 0px 8px 0 #fc5185;
  // padding-right: 8px;
}
